
body {
  background: #f5f7fa;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #637a9e;
  color: #f5f7fa;
}


.header-regular {
  padding: 20px 20px 20px 20px;
  margin: 0px auto;
  background: #637a9e;
  color: #f5f7fa;
}


.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 95%;
  padding: 10px;
  padding-bottom: 60px;
  margin: 20 auto;
}

.info-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1e2939;
  color: white;
  padding: 10px 12px;
  text-align: center;
}


.form-narrow {
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #1e2939;
  overflow: hidden;
  line-height: 1.0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home").
 Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
  .topnav-right a:not(:last-child) {display: none;}
  .topnav-left a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.
 This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}




input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn-long {
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.btn:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

.col-form-label {
  display: inline-block;
  width: 140px;
}

.col-form-label-delimiter {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: inherit;
    line-height: 1.5;
}

.form-select {
 width: 40%
}